image: gcc:12

build:
  stage: build
  before_script:
    - apt update && apt -y install make cmake autoconf git
    - git submodule update --init --recursive
  script:
    - cmake cmake -B build -S .
    - cmake --build build --target BattleshipsTests
  artifacts:
    paths:
      - build/BattleshipsTests

test:
  stage: test
  script:
    - ./build/BattleshipsTests

