image: gcc:12

build:
  stage: build
  before_script:
    - apt update && apt -y install make cmake autoconf git
    - git submodule update --init --recursive
  script:
    - cmake cmake -B build -S .
    - cmake --build build
  artifacts:
    untracked: true
    when: on_success
    paths:
      - build/Battleships
      - build/BattleshipsServer
      - build/BattleshipsTests
    expire_in: 1 week
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      when: manual

test:
  stage: test
  before_script:
    - apt update && apt -y install gcovr
  script:
    - cd build
    - ./BattleshipsTests --gtest_output="xml:../report.xml"
    - gcovr --xml-pretty --exclude-unreachable-branches -e dependencies -e include -e tests --print-summary -o coverage.xml --root ${CI_PROJECT_DIR}
  dependencies:
    - build
  needs: ["build"]
  artifacts:
    untracked: true
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: build/coverage.xml
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      when: manual


